<h3>{{title}}</h3>
<div *ngFor="let category of categories; index as i; even as pari; last as ultimo" [ngClass]="{'ultima-riga': ultimo}">
    <span [ngClass]="{'selected-category': (i === selectedCategoryIndex)}">{{i}}</span> - <span
        (click)="onCategoryClick(i)">{{category.description}}</span>
</div>

<section *ngIf="allowCreate === true">
    <form>
        <input name="category" id="category" type="text" [(ngModel)]="newCategory" />
        <button type="submit" (click)="addCustomCategory()" [disabled]="!newCategory">+</button>
    </form>
</section>