<div class="page-container">

  <header class="horizontal-container">
    <ea-academy-library-logo></ea-academy-library-logo>

    <ea-book-search class="horizontal-center"
    (searchBook)="_onSearchBook($event)">

    </ea-book-search>
    <!--    <nis-message-search class="horizontal-center"-->
    <!--                        [defaultQuery]="defaultQuery"-->
    <!--                        (searchAction)="search($event)">-->
    <!--    </nis-message-search>-->

  </header>

  <section class="page-center horizontal-container">
    <nav class="page-left-menu">
      <section class="compose-toolbar">
        <button (click)="compose()">Insert Book</button>
      </section>

      <section class="folder-list">
        <ea-category-list title="Categorie" 
        [categories]="_categories" [allowCreate]="false"
        [selectFirstCategory]="true"
          (selectCategory)="_onSelectCategory($event)">
        </ea-category-list>

        <ea-category-list title="Categorie Custom" [categories]="_customCategories" [allowCreate]="true"
          (selectCategory)="_onSelectCategory($event)"
          (addCategory)="_onAddCategory($event)">
        </ea-category-list>
      </section>

    </nav>

    <section class="horizontal-center vertical-container">
      <ea-book-list [books]="_books"></ea-book-list>

      <hr>
      <!--      </div>-->

      <!--      <nis-message-viewer-->
      <!--        [message]="currentMessage"-->
      <!--        (reply)="replyTo($event)"-->
      <!--        (forward)="forward($event)"-->
      <!--        (delete)="delete($event)">-->
      <!--      </nis-message-viewer>-->
    </section>

  </section>

  <footer>
    <div class="center-block">
      powered by Angular 15 and <a href="http://www.dgsspa.com">DGS S.p.A.</a>
    </div>
  </footer>
</div>